{% extends "base.html" %} {% load static %} 
{% block pageCSS %}
<link rel='stylesheet'  href='{% static 'assets/css/post-389.css' %}' media='all' />
<link rel='stylesheet'  href='{% static 'assets/css/icon-heading-style-6.min.css' %}' media='all' />
<link rel='stylesheet'  href='{% static 'assets/css/icon-heading-style-15.min.css' %}' media='all' />
    
{% endblock pageCSS %}
{% block bodyClass %}
page-template-default page page-id-389 theme-helopizza woocommerce-js pbmit-top-menu-total-6 pbmit-sidebar-no pbmit-cursor-disable elementor-default elementor-kit-12 elementor-page elementor-page-389 e--ua-isTouchDevice e--ua-firefox
{% endblock bodyClass %}


{% block content %}

        <div
          class="pbmit-title-bar-wrapper pbmit-bg-image-yes pbmit-titlebar-style-center"
        >
          <div class="container">
            <div class="pbmit-title-bar-content">
              <div class="pbmit-title-bar-content-inner">
                <div class="pbmit-tbar">
                  <div class="pbmit-tbar-inner container">
                    <h1 class="pbmit-tbar-title">Contact Us</h1>
                  </div>
                </div>
                <div class="pbmit-breadcrumb">
                  <div class="pbmit-breadcrumb-inner">
                    <span
                      ><a
                        title="Go to helopizza Italian Food."
                        href="https://helopizza-demo.pbminfotech.com/italian-food"
                        class="home"
                        ><span>helopizza</span></a
                      ></span
                    ><span class="sep"
                      ><i class="pbmit-base-icon-angle-right"></i></span
                    ><span
                      ><span class="post post-page current-item"
                        >Contact Us</span
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- .pbmit-title-bar-content -->
          </div>
          <!-- .container -->
        </div>
        <!-- .pbmit-title-bar-wrapper -->
      </header>
      <!-- #masthead -->
      <div class="site-content-contain">
        <div class="site-content-wrap">
          <div id="content" class="site-content">
            <div class="pbmit-header-search-form-wrapper">
              <div class="pbmit-search-close">
                <svg
                  class="qodef-svg--close qodef-m"
                  xmlns="http://www.w3.org/2000/svg"
                  width="28.163"
                  height="28.163"
                  viewBox="0 0 26.163 26.163"
                >
                  <rect
                    width="36"
                    height="1"
                    transform="translate(0.707) rotate(45)"
                  ></rect>
                  <rect
                    width="36"
                    height="1"
                    transform="translate(0 25.456) rotate(-45)"
                  ></rect>
                </svg>
              </div>
              <form
                role="search"
                method="get"
                class="search-form"
                action="https://helopizza-demo.pbminfotech.com/italian-food/"
              >
                <label for="search-form-67cb4e5e9f9a1">
                  <span class="screen-reader-text">Search for:</span>
                </label>
                <input
                  type="search"
                  id="search-form-67cb4e5e9f9a1"
                  class="search-field"
                  placeholder="Search &hellip;"
                  value=""
                  name="s"
                />
                <button type="submit" class="search-submit" title="Search">
                  <span class="screen-reader-text">Search</span>
                </button>
              </form>
            </div>
            <div id="primary" class="content-area">
              <main id="main" class="site-main pbmit-page-content-wrapper">
                <div
                  id="post-389"
                  class="post-389 page type-page status-publish hentry"
                >
                  <div class="entry-content">
                    <div
                      data-elementor-type="wp-page"
                      data-elementor-id="389"
                      class="elementor elementor-389"
                    >
                      <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e1768c4 elementor-section-stretched pbmit-col-stretched-none pbmit-cursor-color-blackish-color pbmit-bg-color-over-image elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="e1768c4"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                      >
                        <div
                          class="elementor-container elementor-column-gap-no"
                        >
                          <div
                            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5d4db72 pbmit-bg-color-over-image"
                            data-id="5d4db72"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-cb0d0a8 elementor-widget elementor-widget-pbmit_icon_heading"
                                data-id="cb0d0a8"
                                data-element_type="widget"
                                data-widget_type="pbmit_icon_heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <div class="pbmit-ihbox pbmit-ihbox-style-15">
                                    <div class="pbmit-ihbox-icon">
                                      <div class="pbmit-ihbox-icon-wrapper">
                                        <div
                                          class="pbmit-icon-wrapper pbmit-icon-type-icon"
                                        >
                                          <i
                                            class="pbmit-helopizza-icon pbmit-helopizza-icon-mail"
                                          ></i>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                      <h2 class="pbmit-element-title">Email</h2>
                                      <div class="pbmit-heading-desc">
                                        <a
                                          href="/cdn-cgi/l/email-protection"
                                          class="__cf_email__"
                                          data-cfemail="dbabb9b6b2b5bdb4afbeb8b39bb6bab2b7f5b8b4b6"
                                          >[email&#160;protected]</a
                                        >
                                        <br />
                                        <a
                                          href="/cdn-cgi/l/email-protection"
                                          class="__cf_email__"
                                          data-cfemail="6105080d0802080e1412080f070e210c00080d4f020e0c"
                                          >[email&#160;protected]</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-e854f1a elementor-widget__width-auto elementor-absolute pbmit-animation-none elementor-widget elementor-widget-image"
                                data-id="e854f1a"
                                data-element_type="widget"
                                data-settings='{"_position":"absolute"}'
                                data-widget_type="image.default"
                              >
                                <div class="elementor-widget-container">
                                  <img
                                    decoding="async"
                                    width="58"
                                    height="62"
                                    src="{% static '/assets/media/contact-icon01.png' %}"
                                    class="attachment-large size-large wp-image-244"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-0efb15d elementor-widget__width-auto elementor-absolute pbmit-animation-none elementor-widget elementor-widget-image"
                                data-id="0efb15d"
                                data-element_type="widget"
                                data-settings='{"_position":"absolute"}'
                                data-widget_type="image.default"
                              >
                                <div class="elementor-widget-container">
                                  <img
                                    decoding="async"
                                    width="23"
                                    height="31"
                                    src="{% static '/assets/media/contact-icon02.png' %}"
                                    class="attachment-large size-large wp-image-243"
                                    alt=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f4edb72 pbmit-bg-color-over-image"
                            data-id="f4edb72"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-8c5b94d elementor-widget elementor-widget-pbmit_icon_heading"
                                data-id="8c5b94d"
                                data-element_type="widget"
                                data-widget_type="pbmit_icon_heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <div class="pbmit-ihbox pbmit-ihbox-style-15">
                                    <div class="pbmit-ihbox-icon">
                                      <div class="pbmit-ihbox-icon-wrapper">
                                        <div
                                          class="pbmit-icon-wrapper pbmit-icon-type-icon"
                                        >
                                          <i
                                            class="pbmit-helopizza-icon pbmit-helopizza-icon-phone-call"
                                          ></i>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                      <h2 class="pbmit-element-title">
                                        Call Now
                                      </h2>
                                      <div class="pbmit-heading-desc">
                                        +1 403 564 4545 <br />
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-45a51dc elementor-widget__width-auto elementor-absolute pbmit-animation-none elementor-widget elementor-widget-image"
                                data-id="45a51dc"
                                data-element_type="widget"
                                data-settings='{"_position":"absolute"}'
                                data-widget_type="image.default"
                              >
                                <div class="elementor-widget-container">
                                  <img
                                    decoding="async"
                                    width="53"
                                    height="61"
                                    src="{% static '/assets/media/contact-icon04.png' %}"
                                    class="attachment-large size-large wp-image-241"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-53487b8 elementor-widget__width-auto elementor-absolute pbmit-animation-none elementor-widget elementor-widget-image"
                                data-id="53487b8"
                                data-element_type="widget"
                                data-settings='{"_position":"absolute"}'
                                data-widget_type="image.default"
                              >
                                <div class="elementor-widget-container">
                                  <img
                                    loading="lazy"
                                    decoding="async"
                                    width="76"
                                    height="64"
                                    src="{% static '/assets/media/contact-icon03.png' %}"
                                    class="attachment-large size-large wp-image-242"
                                    alt=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0220219 pbmit-bg-color-over-image"
                            data-id="0220219"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-766d611 elementor-widget elementor-widget-pbmit_icon_heading"
                                data-id="766d611"
                                data-element_type="widget"
                                data-widget_type="pbmit_icon_heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <div class="pbmit-ihbox pbmit-ihbox-style-15">
                                    <div class="pbmit-ihbox-icon">
                                      <div class="pbmit-ihbox-icon-wrapper">
                                        <div
                                          class="pbmit-icon-wrapper pbmit-icon-type-icon"
                                        >
                                          <i
                                            class="pbmit-helopizza-icon pbmit-helopizza-icon-pin"
                                          ></i>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                      <h2 class="pbmit-element-title">
                                        Address
                                      </h2>
                                      <div class="pbmit-heading-desc">
                                        Unit 18, 11001 20 AVE, Blairmore , Alberta.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-2f0fa09 elementor-widget__width-auto elementor-absolute pbmit-animation-none elementor-widget elementor-widget-image"
                                data-id="2f0fa09"
                                data-element_type="widget"
                                data-settings='{"_position":"absolute"}'
                                data-widget_type="image.default"
                              >
                                <div class="elementor-widget-container">
                                  <img
                                    decoding="async"
                                    width="23"
                                    height="31"
                                    src="{% static '/assets/media/contact-icon02.png' %}"
                                    class="attachment-large size-large wp-image-243"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-97e1049 elementor-widget__width-auto elementor-absolute pbmit-animation-none elementor-widget elementor-widget-image"
                                data-id="97e1049"
                                data-element_type="widget"
                                data-settings='{"_position":"absolute"}'
                                data-widget_type="image.default"
                              >
                                <div class="elementor-widget-container">
                                  <img
                                    decoding="async"
                                    width="58"
                                    height="62"
                                    src="{% static '/assets/media/contact-icon01.png' %}"
                                    class="attachment-large size-large wp-image-244"
                                    alt=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-c473b8a elementor-section-stretched pbmit-col-stretched-none pbmit-cursor-color-blackish-color pbmit-bg-color-over-image elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="c473b8a"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                      >
                        <div
                          class="elementor-container elementor-column-gap-no"
                        >
                          <div
                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ba1714e pbmit-bg-color-over-image"
                            data-id="ba1714e"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-26bf051 elementor-widget elementor-widget-pbmit_heading"
                                data-id="26bf051"
                                data-element_type="widget"
                                data-widget_type="pbmit_heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="pbmit-heading-subheading pbmit-reverse-heading-yes"
                                  >
                                    <h4 class="pbmit-element-subtitle">
                                      <span> </span>

                                      Fill the form
                                    </h4>
                                    <h2 class="pbmit-element-title">
                                      Do You Have Any Question?
                                    </h2>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="elementor-section elementor-inner-section elementor-element elementor-element-dabeacb pbmit-col-stretched-none pbmit-cursor-color-blackish-color pbmit-bg-color-over-image elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="dabeacb"
                                data-element_type="section"
                              >
                                <div
                                  class="elementor-container elementor-column-gap-no"
                                >
                                  <div
                                    class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0e43ca5 pbmit-bg-color-yes pbmit-elementor-bg-color-globalcolor pbmit-bg-color-over-image"
                                    data-id="0e43ca5"
                                    data-element_type="column"
                                    data-settings='{"background_background":"classic"}'
                                  >
                                    <div
                                      class="elementor-widget-wrap elementor-element-populated"
                                    >
                                      <div
                                        class="elementor-element elementor-element-a80da8f elementor-widget elementor-widget-shortcode"
                                        data-id="a80da8f"
                                        data-element_type="widget"
                                        data-widget_type="shortcode.default"
                                      >
                                        <div class="elementor-widget-container">
                                          <div class="elementor-shortcode">
                                            <div
                                              class="wpcf7 no-js"
                                              id="wpcf7-f343-p389-o1"
                                              lang="en-US"
                                              dir="ltr"
                                            >
                                              <div
                                                class="screen-reader-response"
                                              >
                                                <p
                                                  role="status"
                                                  aria-live="polite"
                                                  aria-atomic="true"
                                                ></p>
                                                <ul></ul>
                                              </div>
                                              <form
                                                action="/italian-food/contact-us/#wpcf7-f343-p389-o1"
                                                method="post"
                                                class="wpcf7-form init"
                                                aria-label="Contact form"
                                                novalidate="novalidate"
                                                data-status="init"
                                              >
                                                <div style="display: none">
                                                  <input
                                                    type="hidden"
                                                    name="_wpcf7"
                                                    value="343"
                                                  />
                                                  <input
                                                    type="hidden"
                                                    name="_wpcf7_version"
                                                    value="5.9.8"
                                                  />
                                                  <input
                                                    type="hidden"
                                                    name="_wpcf7_locale"
                                                    value="en_US"
                                                  />
                                                  <input
                                                    type="hidden"
                                                    name="_wpcf7_unit_tag"
                                                    value="wpcf7-f343-p389-o1"
                                                  />
                                                  <input
                                                    type="hidden"
                                                    name="_wpcf7_container_post"
                                                    value="389"
                                                  />
                                                  <input
                                                    type="hidden"
                                                    name="_wpcf7_posted_data_hash"
                                                    value=""
                                                  />
                                                </div>
                                                <div
                                                  class="pbmit-form pbmit-main-form"
                                                >
                                                  <div class="row">
                                                    <div
                                                      class="col-sm-12 col-md-6"
                                                    >
                                                      <div class="input-group">
                                                        <p>
                                                          <i
                                                            class="pbmit-base-icon-user-3"
                                                          ></i
                                                          ><span
                                                            class="wpcf7-form-control-wrap"
                                                            data-name="your-name"
                                                            ><input
                                                              size="40"
                                                              maxlength="400"
                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                              aria-required="true"
                                                              aria-invalid="false"
                                                              placeholder="Name"
                                                              value=""
                                                              type="text"
                                                              name="your-name"
                                                          /></span>
                                                        </p>
                                                      </div>
                                                    </div>
                                                    <div
                                                      class="col-sm-12 col-md-6"
                                                    >
                                                      <div class="input-group">
                                                        <p>
                                                          <i
                                                            class="pbmit-base-icon-at"
                                                          ></i
                                                          ><span
                                                            class="wpcf7-form-control-wrap"
                                                            data-name="your-email"
                                                            ><input
                                                              size="40"
                                                              maxlength="400"
                                                              class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email"
                                                              aria-required="true"
                                                              aria-invalid="false"
                                                              placeholder="Email"
                                                              value=""
                                                              type="email"
                                                              name="your-email"
                                                          /></span>
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div
                                                      class="col-sm-12 col-md-6"
                                                    >
                                                      <div class="input-group">
                                                        <p>
                                                          <i
                                                            class="pbmit-base-icon-phone-call-1"
                                                          ></i
                                                          ><span
                                                            class="wpcf7-form-control-wrap"
                                                            data-name="tel-646"
                                                            ><input
                                                              size="40"
                                                              maxlength="400"
                                                              class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel"
                                                              aria-required="true"
                                                              aria-invalid="false"
                                                              placeholder="Phone"
                                                              value=""
                                                              type="tel"
                                                              name="tel-646"
                                                          /></span>
                                                        </p>
                                                      </div>
                                                    </div>
                                                    <div
                                                      class="col-sm-12 col-md-6"
                                                    >
                                                      <div class="input-group">
                                                        <p>
                                                          <i
                                                            class="pbmit-base-icon-chat-2"
                                                          ></i
                                                          ><span
                                                            class="wpcf7-form-control-wrap"
                                                            data-name="your-name"
                                                            ><input
                                                              size="40"
                                                              maxlength="400"
                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                              aria-required="true"
                                                              aria-invalid="false"
                                                              placeholder="Subject"
                                                              value=""
                                                              type="text"
                                                              name="your-name"
                                                          /></span>
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-sm-12">
                                                      <div
                                                        class="input-group input-textarea"
                                                      >
                                                        <p>
                                                          <i
                                                            class="pbmit-base-icon-pen"
                                                          ></i
                                                          ><span
                                                            class="wpcf7-form-control-wrap"
                                                            data-name="textarea-806"
                                                          >
                                                            <textarea
                                                              cols="40"
                                                              rows="10"
                                                              maxlength="2000"
                                                              class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                              aria-required="true"
                                                              aria-invalid="false"
                                                              placeholder="How can we help you? Feel free to get in touch!"
                                                              name="textarea-806"
                                                            ></textarea>
                                                          </span>
                                                        </p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-12">
                                                    <div
                                                      class="input-group input-button"
                                                    >
                                                      <p>
                                                        <button
                                                          id="submit"
                                                          class="wpcf7-form-control wpcf7-submit"
                                                        >
                                                          <span
                                                            >Send a
                                                            message</span
                                                          >
                                                        </button>
                                                      </p>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div
                                                  class="wpcf7-response-output"
                                                  aria-hidden="true"
                                                ></div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <div
                        class="elementor-section elementor-top-section elementor-element elementor-element-deda830 elementor-section-full_width elementor-section-stretched pbmit-col-stretched-none pbmit-cursor-color-blackish-color pbmit-bg-color-over-image elementor-section-height-default elementor-section-height-default"
                        data-id="deda830"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                      >
                        <div
                          class="elementor-container elementor-column-gap-no"
                        >
                          <div
                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-357b9bb pbmit-bg-color-over-image"
                            data-id="357b9bb"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-d6918a4 elementor-widget elementor-widget-google_maps"
                                data-id="d6918a4"
                                data-element_type="widget"
                                data-widget_type="google_maps.default"
                              >
                                <div class="elementor-widget-container">
                                  <div class="elementor-custom-embed">
                                    <iframe
                                      loading="lazy"
                                      src="https://maps.google.com/maps?q=Disneyland%20Park%2C%20Disneyland%20Drive%2C%20Anaheim%2C%20CA%2C%20USA&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"
                                      title="Disneyland Park, Disneyland Drive, Anaheim, CA, USA"
                                      aria-label="Disneyland Park, Disneyland Drive, Anaheim, CA, USA"
                                    ></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h3 class="pbmit-hide">Contact Us</h3>
                  </div>
                  <!-- .entry-content -->
                </div>
                <!-- #post-## -->
              </main>
              <!-- #main -->
            </div>
            <!-- #primary -->
          </div>
          <!-- #content -->
        </div>
     
{% endblock content %}
