{% extends "base.html" %}
{% load static %}
{% block pageCSS %}

    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    
    <!-- jQuery (required for Slick) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Slick JS -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
<link rel='stylesheet' href='{% static 'assets/css/post-386.css' %}' media='all' />
<link rel='stylesheet' href='{% static 'assets/css/icon-heading-style-6.min.css' %}' media='all' />

{% endblock pageCSS %}
{% block bodyClass %}
page-template-default page page-id-386 theme-helopizza woocommerce-js pbmit-top-menu-total-6 pbmit-sidebar-no pbmit-cursor-disable elementor-default elementor-kit-12 elementor-page elementor-page-386 e--ua-isTouchDevice e--ua-firefox
{% endblock bodyClass %}
{% block content %}

<div class="pbmit-title-bar-wrapper pbmit-bg-image-yes pbmit-titlebar-style-center menu" style="background-image: url({% static 'assets/media/menu.png' %});">
  <div class="container">
    <div class="pbmit-title-bar-content">
      <div class="pbmit-title-bar-content-inner">
        <div class="pbmit-tbar">
          <div class="pbmit-tbar-inner container">
            <h1 class="pbmit-tbar-title">Menu</h1>
          </div>
        </div>
        <div class="pbmit-breadcrumb">
          <div class="pbmit-breadcrumb-inner">
            <span><a title="Go to helopizza Italian Food." href="{% url "home" %}" class="home"><span>Hello
                  Pizza</span></a></span><span class="sep"><i class="pbmit-base-icon-angle-right"></i></span><span><span
                class="post post-page current-item">Menu</span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- .pbmit-title-bar-content -->
  </div>
  <!-- .container -->
</div>
<!-- .pbmit-title-bar-wrapper -->
</header>
<!-- #masthead -->
<div class="site-content-contain">
  <div class="site-content-wrap">
    <div id="content" class="site-content">
      <div class="pbmit-header-search-form-wrapper">
        <div class="pbmit-search-close">
          <svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163"
            viewBox="0 0 26.163 26.163">
            <rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
            <rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
          </svg>
        </div>
        <form role="search" method="get" class="search-form" action="//">
          <label for="search-form-67cab148aff6b">
            <span class="screen-reader-text">Search for:</span>
          </label>
          <input type="search" id="search-form-67cab148aff6b" class="search-field" placeholder="Search &hellip;"
            value="" name="s" />
          <button type="submit" class="search-submit" title="Search">
            <span class="screen-reader-text">Search</span>
          </button>
        </form>
      </div>
      <div id="primary" class="content-area">
        <main id="main" class="site-main pbmit-page-content-wrapper">
          <div id="post-386" class="post-386 page type-page status-publish hentry">
            <div class="entry-content">
              <div data-elementor-type="wp-page" data-elementor-id="386" class="elementor elementor-386">
               
                <section
                  class="menuu elementor-section elementor-top-section elementor-element elementor-element-695454c elementor-section-stretched pbmit-menu-tab2 pbmit-col-stretched-none pbmit-cursor-color-blackish-color pbmit-bg-color-over-image elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="695454c" data-element_type="section" data-settings='{"stretch_section":"section-stretched"}'>
                  <div class="elementor-container elementor-column-gap-no">
                    <div
                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-de3b9ba pbmit-bg-color-over-image"
                      data-id="de3b9ba" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div
                          class="elementor-element elementor-element-54cf7a3 elementor-widget elementor-widget-pbmit_tabmenu_element"
                          data-id="54cf7a3" data-element_type="widget" data-widget_type="pbmit_tabmenu_element.default">
                          <div class="elementor-widget-container">
                            <div class="pbminfotech-ele pbminfotech-ele-tab-menu">
                              <div class="pbmit-heading-subheading pbmit-reverse-heading-yes">
                                <h4 class="pbmit-element-subtitle">
                                  <span> </span>

                                  Explore Our Flavorful World

                                </h4>
                                <h2 class="pbmit-element-title">
                                  The Full Hello Pizza Menu
                                </h2>
                              </div>
                              <div class="pbmit-tabs">
                                <ul class="pbmit-tabs-heading">
                                  
                                    {% for category in categories %}
                                    <li class="pbmit-tab-link col-xl-4  {% if forloop.first %}pbmit-tab-li-active{% endif %}" data-pbmit-tab="{{ category.id }}">
                                        <div class="pbmit-tabmenu-icon">
                                            <div class="pbmit-tabmenu-icon-wrapper ">
                                                <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                                                    <img loading="lazy" src="{{ category.category_image }}" style='
                                                    width:60px; 
                                                    height:60px;
                                                    border-radius:100vh;
                                                    object-fit:cover;
                                                    object-position:center;'>
                                                    {% comment %} <i class="pbmit-helopizza-icon pbmit-helopizza-icon-pizza-1"></i> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                        <span>
                                            <h3 class="pbminfotech-tabmenu-heading">{{ category.category_name }}</h3>
                                            <div class="pbminfotech-sep"></div>
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            
                                <div class="pbmit-tab-content-wrapper">
                                    {% for category in categories %}
                                    <div class="pbmit-tab-content pbmit-tab-content-{{ category.id }} {% if forloop.first %}pbmit-tab-active{% endif %}">
                                        <div class="pbmit-tab-content-title" data-pbmit-tab="{{ category.id }}">
                                            <div class="pbmit-tabmenu-icon">
                                                <div class="pbmit-tabmenu-icon-wrapper">
                                                    <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                                                        <img loading="lazy" src="{{ category.category_image }}" style='
                                                        width:60px; 
                                                        height:60px;
                                                        border-radius:100vh;
                                                        object-fit:cover;
                                                        object-position:center;'>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>
                                                <h3 class="pbminfotech-tabmenu-heading">{{ category.category_name }}</h3>
                                                <div class="pbminfotech-sep"></div>
                                            </span>
                                        </div>
                                        <div class="row multi-columns-row pbmit-tab-content-inner">
                                            {% for product in products %}
                                            {% if product.product_category_id == category.id %}
                                            <div class="pbmit-tabmenu-col col-md-6 d-flex align-items-center">
                                                <div class="pbmit-ihbox-icon">
                                                    <img loading="lazy" decoding="async" src="{{ product.image_url }}" alt="{{ product.title }}" />
                                                </div>
                                                <div class="pbmit-ihbox-contents">
                                                    <div class="pbmit-content-inner d-flex">
                                                        <h2 class="pbmit-element-title">{{ product.title }}</h2>
                                                        <h4 class="pbmit-element-subtitle">${{ product.price }}</h4>
                                                    </div>
                                                    <div class="pbmit-heading-desc">{{ product.short_description }}</div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                            <!-- pbminfotech-ele pbminfotech-ele-pricing-table -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-aaedf17 pbmit-text-color-white elementor-section-stretched pbmit-col-stretched-none pbmit-cursor-color-blackish-color pbmit-bg-color-over-image elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="aaedf17" data-element_type="section"
                  data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'>
                  <div class="elementor-container elementor-column-gap-no">
                    <div
                      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-622fc5b pbmit-bg-color-over-image"
                      data-id="622fc5b" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        <div
                          class="elementor-element elementor-element-5db2712 elementor-widget elementor-widget-pbmit_heading"
                          data-id="5db2712" data-element_type="widget" data-widget_type="pbmit_heading.default">
                          <div class="elementor-widget-container">
                            <div class="pbmit-heading-subheading pbmit-reverse-heading-yes animation-style1">
                              <h4 class="pbmit-element-subtitle">
                                <span> </span>

                                This Week’s Star

                              </h4>
                              <h2 class="pbmit-element-title">
                                Hello Pizza’s Best Burger & Fry Frenzy in Alberta

                              </h2>
                              <div class="pbmit-heading-desc">
                                Happen to be in Blairmore? Make sure to visit our restaurant beside Scotiabank since we present an irresistible burger combination with succulent patties plus perfectly fried fries. The combo features an ultimate appeal that has stolen numerous hearts throughout the week. Don’t miss out!
                              </div>
                            </div>
                          </div>
                        </div>
                        {% comment %} <div
                          class="elementor-element elementor-element-cc6c37e pbmit-countdown-style-1 elementor-widget elementor-widget-text-editor"
                          data-id="cc6c37e" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="content_countdown" id="main_countedown_1">
                              <div class="countdown">
                                <span class="element_conteiner"><span class="days time_left">3698</span><span
                                    class="time_description">Days</span></span>
                                <span class="element_conteiner"><span class="hourse time_left">15</span><span
                                    class="time_description">Hours</span></span>
                                <span class="element_conteiner"><span class="minutes time_left">31</span><span
                                    class="time_description">Minutes</span></span>
                                <span class="element_conteiner"><span class="secondes time_left">47</span><span
                                    class="time_description">Seconds</span></span>
                              </div>
                            </div>
                            <script>
                              document.addEventListener(
                                "DOMContentLoaded",
                                function (event) {
                                  setInterval(function () {
                                    countdown_wpdevart_timer(
                                      "main_countedown_1"
                                    );
                                  }, 1000);
                                }
                              );
                            </script>
                            <style>
                              #main_countedown_1 .countdown {
                                text-align: center;
                              }

                              #main_countedown_1 .countdown {
                                margin-top: 10px;
                                margin-bottom: 10px;
                              }

                              #main_countedown_1 .time_left {
                                border-radius: 8px;
                                background-color: #3da8cc;
                                font-size: 23px;
                                font-family: monospace;
                                color: #000000;
                              }

                              #main_countedown_1 .time_description {
                                font-size: 23px;
                                font-family: monospace;
                                color: #000000;
                              }

                              #main_countedown_1 .element_conteiner {
                                min-width: 90px;
                              }
                            </style>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-5efcf19 pbmit-btn-shape-rounded pbmit-btn-hover-color-white pbmit-btn-color-globalcolor pbmit-btn-style-flat pbmit-btn-magnatic-yes elementor-widget elementor-widget-button"
                          data-id="5efcf19" data-element_type="widget" data-widget_type="button.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                              <a class="elementor-button elementor-button-link elementor-size-lg" href="#">
                                <span class="elementor-button-content-wrapper">
                                  <span class="elementor-button-text">Order Now</span>
                                </span>
                              </a>
                            </div>
                          </div>
                        </div> {% endcomment %}
                      </div>
                    </div>
                    <div
                      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-467cbba pbmit-bg-color-over-image"
                      data-id="467cbba" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                        {% comment %} <div
                          class="elementor-element elementor-element-d552039 pbmit-align-center elementor-widget__width-initial pbmit-offer-text elementor-absolute elementor-widget elementor-widget-pbmit_custom_heading"
                          data-id="d552039" data-element_type="widget" data-settings='{"_position":"absolute"}'
                          data-widget_type="pbmit_custom_heading.default">
                          <div class="elementor-widget-container">
                            <div class="pbmit-custom-heading center-align">
                              <h2 class="pbmit-element-title">
                                Free Home <br />
                                Delivery
                              </h2>
                            </div>
                          </div>
                        </div> {% endcomment %}
                        {% comment %} <div
                          class="elementor-element elementor-element-d1a8248 elementor-widget__width-initial elementor-absolute pbmit-animation-style2 elementor-widget elementor-widget-image"
                          data-id="d1a8248" data-element_type="widget" data-settings='{"_position":"absolute"}'
                          data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="100" height="57" src="{% static '/assets/media/arrow.png' %}"
                              class="attachment-full size-full wp-image-251" alt="" />
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-691e64d elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-pbmit_custom_heading"
                          data-id="691e64d" data-element_type="widget" data-settings='{"_position":"absolute"}'
                          data-widget_type="pbmit_custom_heading.default">
                          <div class="elementor-widget-container">
                            <div class="pbmit-custom-heading -align">
                              <h2 class="pbmit-element-title">50%</h2>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-47f903f elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-pbmit_custom_heading"
                          data-id="47f903f" data-element_type="widget" data-settings='{"_position":"absolute"}'
                          data-widget_type="pbmit_custom_heading.default">
                          <div class="elementor-widget-container">
                            <div class="pbmit-custom-heading -align">
                              <h2 class="pbmit-element-title">
                                <span class="secondary-color">Off</span>
                              </h2>
                            </div>
                          </div>
                        </div> {% endcomment %}
                        {% comment %} <div
                          class="elementor-element elementor-element-e618df9 elementor-widget__width-initial elementor-absolute elementor-hidden-mobile pbmit-animation-none elementor-widget elementor-widget-image"
                          data-id="e618df9" data-element_type="widget" data-settings='{"_position":"absolute"}'
                          data-widget_type="image.default">
                          <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="145" height="132"
                              src="{% static '/assets/media/circle-shap.png' %}"
                              class="attachment-full size-full wp-image-252" alt="" />
                          </div>
                        </div> {% endcomment %}
                        <div class="elementor-widget-container">
                          <img loading="lazy" fetchpriority="high" decoding="async" width="694" height="507"
                            src="{% static '/assets/media/burger-01-1.png' %}"
                            class="attachment-full size-full wp-image-276" alt="" srcset="
                                    {% static '/assets/media/burger-01-1.png' %}         694w,
                                    {% static '/assets/media/burger-01-1.png' %} 300w,
                                    {% static '/assets/media/burger-01-1.png' %} 600w
                                  " sizes="(max-width: 694px) 100vw, 694px" />
                        </div>
                        {% comment %} <div
                          class="elementor-element elementor-element-d430cee pbmit-animation-none elementor-invisible elementor-widget elementor-widget-image"
                          data-id="d430cee" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}'
                          data-widget_type="image.default">
                        </div> {% endcomment %}
                      </div>
                    </div>
                  </div>
                </section>
             
              </div>
              <h3 class="pbmit-hide">Menu</h3>
            </div>
            <!-- .entry-content -->
          </div>
          <!-- #post-## -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- #content -->
  </div>
  <!-- .site-content-wrap -->

  {% endblock content %}