.elementor-388 .elementor-element.elementor-element-0856cc4 {
    padding: 30px 15px 0px 15px;
}

.elementor-388 .elementor-element.elementor-element-5d5fd12>.elementor-element-populated {
    padding: 0px 25px 0px 25px;
}

.elementor-388 .elementor-element.elementor-element-c62278e {
    padding: 190px 0px 160px 0px;
}

.elementor-388 .elementor-element.elementor-element-a65d26a {
    text-align: left;
    width: auto;
    max-width: auto;
    bottom: -190px;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-a65d26a {
    right: 80px;
}

body.rtl .elementor-388 .elementor-element.elementor-element-a65d26a {
    left: 80px;
}

.elementor-388 .elementor-element.elementor-element-32d0861 {
    text-align: left;
    width: auto;
    max-width: auto;
    bottom: -190px;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-32d0861 {
    left: 100px;
}

body.rtl .elementor-388 .elementor-element.elementor-element-32d0861 {
    right: 100px;
}

.elementor-388 .elementor-element.elementor-element-79b9b57 {
    text-align: left;
    width: auto;
    max-width: auto;
    top: 40px;
    z-index: 0;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-79b9b57 {
    left: 112px;
}

body.rtl .elementor-388 .elementor-element.elementor-element-79b9b57 {
    right: 112px;
}

.elementor-388 .elementor-element.elementor-element-06d2625 {
    width: initial;
    max-width: initial;
    bottom: -25px;
    z-index: 0;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-06d2625 {
    left: -290px;
}

body.rtl .elementor-388 .elementor-element.elementor-element-06d2625 {
    right: -290px;
}

.elementor-388 .elementor-element.elementor-element-3f830dc>.elementor-element-populated {
    padding: 0px 0px 0px 30px;
}

.elementor-388 .elementor-element.elementor-element-b9c8464 .pbmit-heading-subheading {
    text-align: left;
}

.elementor-388 .elementor-element.elementor-element-d623ae0 {
    color: #000000;
    font-size: 17px;
}

.elementor-388 .elementor-element.elementor-element-d623ae0>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-5b1c3e5>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-61df3a4>.elementor-widget-container {
    padding: 50px 50px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-0493e55 {
    width: initial;
    max-width: initial;
    bottom: 26%;
    z-index: 0;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-0493e55 {
    right: -250px;
}

body.rtl .elementor-388 .elementor-element.elementor-element-0493e55 {
    left: -250px;
}

.elementor-388 .elementor-element.elementor-element-2053e50 {
    width: initial;
    max-width: initial;
    bottom: -20px;
    z-index: 0;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-2053e50 {
    right: -240px;
}

body.rtl .elementor-388 .elementor-element.elementor-element-2053e50 {
    left: -240px;
}

.elementor-388 .elementor-element.elementor-element-8f0e105:not(.elementor-motion-effects-element-type-background),
.elementor-388 .elementor-element.elementor-element-8f0e105>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../media/bg-pattern.png");
}

.elementor-388 .elementor-element.elementor-element-8f0e105 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 115px 15px 150px 15px;
}

.elementor-388 .elementor-element.elementor-element-8f0e105>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-388 .elementor-element.elementor-element-00e60fb>.elementor-element-populated,
.elementor-388 .elementor-element.elementor-element-00e60fb>.elementor-element-populated>.elementor-background-overlay,
.elementor-388 .elementor-element.elementor-element-00e60fb>.elementor-background-slideshow {
    border-radius: 40px 40px 40px 40px;
}

.elementor-388 .elementor-element.elementor-element-00e60fb>.elementor-element-populated {
    padding: 85px 60px 30px 60px;
}

.elementor-388 .elementor-element.elementor-element-280b74c .pbmit-heading-subheading {
    text-align: center;
}

.elementor-388 .elementor-element.elementor-element-54bfa69 .pbmit-heading-subheading {
    text-align: center;
}

.elementor-388 .elementor-element.elementor-element-e932814>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-388 .elementor-element.elementor-element-e932814:not(.elementor-motion-effects-element-type-background),
.elementor-388 .elementor-element.elementor-element-e932814>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../media/pasta-bg-01.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.elementor-388 .elementor-element.elementor-element-e932814 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 160px 15px 105px 15px;
}

.elementor-388 .elementor-element.elementor-element-e932814>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-388 .elementor-element.elementor-element-874e7e8>.elementor-element-populated {
    padding: 0px 40px 50px 0px;
}

.elementor-388 .elementor-element.elementor-element-a6d6d1d .pbmit-heading-subheading {
    text-align: left;
}

.elementor-388 .elementor-element.elementor-element-4228c8c>.elementor-widget-container {
    margin: -16px 30px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-9e92704 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-388 .elementor-element.elementor-element-c1d1e76>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-757f29c>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-08be7e9>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-3c7cbeb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-image: url("../media/pizza-delivery-drone-3d-rendering.png"); */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 60px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-388 .elementor-element.elementor-element-04b9501 {
    --spacer-size: 50px;
}

.elementor-388 .elementor-element.elementor-element-0ad5ce8,
.elementor-388 .elementor-element.elementor-element-0ad5ce8>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-388 .elementor-element.elementor-element-0ad5ce8 {
    padding: 0px 15px 0px 15px;
}

.elementor-388 .elementor-element.elementor-element-0cbb7dc>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-388 .elementor-element.elementor-element-dcf4392>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-388 .elementor-element.elementor-element-8635fbd>.elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-388 .elementor-element.elementor-element-5bdb8bc:not(.elementor-motion-effects-element-type-background),
.elementor-388 .elementor-element.elementor-element-5bdb8bc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../media/pasta-bg-02.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.elementor-388 .elementor-element.elementor-element-5bdb8bc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 110px 0px 170px 0px;
}

.elementor-388 .elementor-element.elementor-element-5bdb8bc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-388 .elementor-element.elementor-element-cb21596 {
    padding: 0px 15px 0px 15px;
}

.elementor-388 .elementor-element.elementor-element-0c13ec5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-388 .elementor-element.elementor-element-0c13ec5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../media/pasta-bg-03.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-388 .elementor-element.elementor-element-0c13ec5>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 95px 60px 90px 0px;
}

.elementor-388 .elementor-element.elementor-element-0c13ec5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-388 .elementor-element.elementor-element-6b73511.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-388 .elementor-element.elementor-element-6b73511:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-388 .elementor-element.elementor-element-6b73511>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../media/video-bg-img-01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-388 .elementor-element.elementor-element-6b73511>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-388 .elementor-element.elementor-element-6b73511>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-388 .elementor-element.elementor-element-4ab0a59 {
    width: initial;
    max-width: initial;
    top: 50%;
}

body:not(.rtl) .elementor-388 .elementor-element.elementor-element-4ab0a59 {
    right: 25%;
}

body.rtl .elementor-388 .elementor-element.elementor-element-4ab0a59 {
    left: 25%;
}

.elementor-388 .elementor-element.elementor-element-aaf3f3a {
    padding: 90px 15px 90px 15px;
}

.elementor-388 .elementor-element.elementor-element-6f48132 .pbmit-heading-subheading {
    text-align: center;
}

@media(max-width:1200px) {
    .elementor-388 .elementor-element.elementor-element-0856cc4 {
        padding: 80px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-5d5fd12>.elementor-element-populated {
        padding: 0px 0px 0px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-c62278e {
        padding: 60px 0px 80px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-9ea860c>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 30px 110px 30px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-a65d26a {
        right: 110px;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-a65d26a {
        left: 110px;
    }
    .elementor-388 .elementor-element.elementor-element-a65d26a {
        bottom: 60px;
    }
    .elementor-388 .elementor-element.elementor-element-32d0861 {
        bottom: 50px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-79b9b57 {
        left: 0px;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-79b9b57 {
        right: 0px;
    }
    .elementor-388 .elementor-element.elementor-element-79b9b57 {
        top: 0px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-06d2625 {
        left: -90px;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-06d2625 {
        right: -90px;
    }
    .elementor-388 .elementor-element.elementor-element-06d2625 {
        bottom: 0px;
    }
    .elementor-388 .elementor-element.elementor-element-3f830dc>.elementor-element-populated {
        margin: -30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 50px 0px 30px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-0493e55 {
        right: -110px;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-0493e55 {
        left: -110px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-2053e50 {
        right: -55px;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-2053e50 {
        left: -55px;
    }
    .elementor-388 .elementor-element.elementor-element-8f0e105 {
        padding: 80px 15px 80px 15px;
    }
    .elementor-388 .elementor-element.elementor-element-00e60fb>.elementor-element-populated {
        padding: 70px 25px 0px 25px;
    }
    .elementor-388 .elementor-element.elementor-element-54bfa69>.elementor-widget-container {
        margin: -15px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-e932814 {
        padding: 70px 0px 40px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-874e7e8>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-4228c8c>.elementor-widget-container {
        margin: -40px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-3c7cbeb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: auto;
    }
    .elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-element-populated {
        padding: 175px 0px 250px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-0ad5ce8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 30px 0px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-0cbb7dc>.elementor-element-populated {
        padding: 0px 15px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-dcf4392>.elementor-element-populated {
        padding: 0px 0px 0px 15px;
    }
    .elementor-388 .elementor-element.elementor-element-8635fbd>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 20px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-5bdb8bc {
        padding: 80px 0px 120px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-e7a122c>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-cb21596 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-0c13ec5>.elementor-element-populated {
        padding: 70px 30px 70px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-6b73511>.elementor-element-populated {
        padding: 250px 0px 250px 0px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-4ab0a59 {
        right: 45%;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-4ab0a59 {
        left: 45%;
    }
    .elementor-388 .elementor-element.elementor-element-aaf3f3a {
        padding: 70px 0px 50px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-341cb21>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
}

@media(max-width:767px) {
    .elementor-388 .elementor-element.elementor-element-0856cc4 {
        padding: 60px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-5d5fd12>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-c62278e {
        padding: 60px 0px 60px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-9ea860c>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-6e09789 img {
        width: 100%;
        max-width: 100%;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-79b9b57 {
        left: -20px;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-79b9b57 {
        right: -20px;
    }
    .elementor-388 .elementor-element.elementor-element-79b9b57 {
        top: -40px;
    }
    .elementor-388 .elementor-element.elementor-element-3f830dc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 30px 0px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-b9c8464>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-5b1c3e5>.elementor-widget-container {
        padding: 40px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-61df3a4>.elementor-widget-container {
        padding: 40px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-8f0e105 {
        padding: 60px 15px 60px 15px;
    }
    .elementor-388 .elementor-element.elementor-element-00e60fb>.elementor-element-populated {
        padding: 60px 20px 60px 20px;
    }
    .elementor-388 .elementor-element.elementor-element-e932814 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-c1d1e76 {
        width: 50%;
    }
    .elementor-388 .elementor-element.elementor-element-c1d1e76>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-757f29c {
        width: 50%;
    }
    .elementor-388 .elementor-element.elementor-element-757f29c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 20px;
    }
    .elementor-388 .elementor-element.elementor-element-08be7e9 {
        width: 50%;
    }
    .elementor-388 .elementor-element.elementor-element-08be7e9>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-3c7cbeb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: contain;
    }
    .elementor-388 .elementor-element.elementor-element-3c7cbeb>.elementor-element-populated {
        padding: 80px 0px 80px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-0ad5ce8 {
        margin-top: -39px;
        margin-bottom: 0px;
    }
    .elementor-388 .elementor-element.elementor-element-0cbb7dc>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-dcf4392>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-8635fbd>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-5bdb8bc {
        padding: 60px 0px 100px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-0c13ec5>.elementor-element-populated {
        padding: 60px 30px 60px 30px;
    }
    .elementor-388 .elementor-element.elementor-element-6b73511>.elementor-element-populated {
        padding: 150px 0px 150px 0px;
    }
    .elementor-388 .elementor-element.elementor-element-4ab0a59>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-388 .elementor-element.elementor-element-4ab0a59 {
        right: 38%;
    }
    body.rtl .elementor-388 .elementor-element.elementor-element-4ab0a59 {
        left: 38%;
    }
    .elementor-388 .elementor-element.elementor-element-4ab0a59 {
        top: 35%;
    }
    .elementor-388 .elementor-element.elementor-element-aaf3f3a {
        padding: 60px 0px 30px 0px;
    }
}

@media(min-width:768px) {
    .elementor-388 .elementor-element.elementor-element-9ea860c {
        width: 55.512%;
    }
    .elementor-388 .elementor-element.elementor-element-3f830dc {
        width: 44.449%;
    }
    .elementor-388 .elementor-element.elementor-element-874e7e8 {
        width: 41%;
    }
    .elementor-388 .elementor-element.elementor-element-3c7cbeb {
        width: 59%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-388 .elementor-element.elementor-element-9ea860c {
        width: 100%;
    }
    .elementor-388 .elementor-element.elementor-element-3f830dc {
        width: 100%;
    }
    .elementor-388 .elementor-element.elementor-element-874e7e8 {
        width: 100%;
    }
    .elementor-388 .elementor-element.elementor-element-3c7cbeb {
        width: 100%;
    }
    .elementor-388 .elementor-element.elementor-element-0cbb7dc {
        width: 50%;
    }
    .elementor-388 .elementor-element.elementor-element-dcf4392 {
        width: 50%;
    }
    .elementor-388 .elementor-element.elementor-element-8635fbd {
        width: 50%;
    }
    .elementor-388 .elementor-element.elementor-element-0c13ec5 {
        width: 100%;
    }
    .elementor-388 .elementor-element.elementor-element-6b73511 {
        width: 100%;
    }
}